.body{
    background-color: rgb(245, 247, 247);
}

h1{
    color: blue;
}

.content{

    margin: 2%;
    
}

.textare{
    margin: 1%;
    padding: 1%;
}

#form1{
    padding: 1%;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    color:blue;
    margin-right: 8px;
}

.user{
    display: flex;
}